name: tests

# Controls when the workflow will run
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
          os: [ubuntu-latest, windows-latest]
          php: ["8.3", "8.2", "8.1", "8.0", "7.4", "7.3", "7.2", "7.1"]
          dependency-version: [prefer-stable]

    name: P${{ matrix.php }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Cache dependencies
          uses: actions/cache@v2
          with:
              path: ~/.composer/cache/files
              key: dependencies-php-${{ matrix.php }}-${{ matrix.os }}-composer-${{ hashFiles('composer.json') }}

        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
              php-version: ${{ matrix.php }}
              extensions: mbstring, exif, iconv, tokenizer
              coverage: none

        - name: Install dependencies
          run: |
              composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction
        - name: Run tests
          run: vendor/bin/phpunit
